.md-form.mt-0{
    width:500px;
    display:flex;
    align-items: center;  
  }
  
  .material-icons.mdc-button__icon{
    position:absolute;
  }
  
  .mdc-button__icon + input{
    padding-left: 25px;
  }